* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "TT Hoves";
}

section {
  padding: 0 120px;
  margin-bottom: 160px;
}
.logo {
  width: 295px;
  margin-top: 37px;
  margin-bottom: 85px;
}
.course_info {
  display: flex;
  gap: 161px;
  margin-bottom: 76px;
}
.course_info div {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 21px;
  line-height: 140%;
}
.subtitle {
  font-size: 21px;
  line-height: 140%;
  font-size: 700;
}
.infor {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  gap: 120px;
  margin-bottom: 90px;
}
.infor div {
width: 400px;
}
div h3 {
font-size: 27px;
font-weight: 600;
line-height: 140%;
}
.infor p {
font-size: 27px;
font-weight: 400;
line-height: 140%;
}
.study h2 {
  margin-bottom: 90px;
  font-size: 58px;
  font-weight: 500;
  line-height: 118%;
  letter-spacing: 0.01em 
}

